node_modules
.env
*.log
src/tests
uploads
dist
example
# npm version patch
# npm version minor
# npm version major
# npm publish --access public
# =============
# If you want package URL like:
# @haash/affiliate
# use
# npm init --scope=@haash
# Then publish:
# npm publish --access public

# =============
# {
#   "name": "@haash/affiliate",
#   "version": "1.0.3",
#   "description": "Affiliate integration SDK for Haash Affiliate Platform",
#   "keywords": [
#     "affiliate",
#     "commission",
#     "haash"
#   ],
#   "license": "ISC",
#   "types": "src/types/index.d.ts",
#   "files": [
#     "src",
#     "types"
#   ],
#   "files": [
#     "dist"
#   ],
#   "author": "Haash India Exports Pvt Ltd",
#   "type": "module",
#   "main": "src/index.js",
#   "scripts": {
#     "test": "echo \"Error: no test specified\" && exit 1"
#  "build": "node build.js",
#     "prepublishOnly": "npm run build"
#   },
#   "dependencies": {
#     "axios": "^1.13.2"
#   },
#   "devDependencies": {
#     "esbuild": "^0.27.0"
#   }
# }
